<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="root" level="WARN"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.test" level="ERROR"/>
    <logger name="org.springframework.web" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>
</configuration>